@charset "utf-8";
/* CSS Document */

#main {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100vh;
  }
  
#pantalla { 

	float:left;
	width:100%; 
	height:25%; 
	background: #FFF;
	text-align:center;
	font-size:4em;
	font-weight:bold;
	font-family:sans-serif;	

  }

#teclado {
	float:left;
	width:100%;
	height:75%;
  }

.nota {							
	float:left;
	height:90%;
	position:relative;
	outline:#000 solid 1px;
	width:14.28571428571429%;
	background: #C9C9C9;
  }

.textonota  {
	position:relative;
	top:80%;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	font-family:sans-serif;	
  }

.tocada {
	color: #F00;
	background-color: #c31b5e;
	outline: 1px solid #680b30;
  }